<!doctype html>
<html lang="en">
<%- include('../common/head.ejs') %>

<body>
    <%- include('../common/header.ejs') %>

    <div class="content">
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-xs-8 offset-xs-1 mt-5">
                    <div class="text-center mb-5">
                        <h2>Signup</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-xs-8 offset-xs-1">
                            <form class="login-form col-md-8 offset-md-2" action="/signup" method="POST">
                                <% if (errorMessage) { %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <%= errorMessage %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <% } %>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword" placeholder="Confirm Password">
                                </div>
                                <!-- CSRF TOKEN FOR FORMS -->
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-outline-success mt-1">Signup</button>
                            </form>
                        </div>
                    </div>
                </div>
        </main>
    </div>

    <%- include('../common/footer.ejs') %>
</body>

</html>