<!doctype html>
<html lang="en">
<%- include('../common/head.ejs') %>

<body>
    <%- include('../common/header.ejs') %>

    <div class="content">
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-xs-8 offset-xs-1">
                    <div class="text-center">
                        <h1 class="mt-3">Your Cart</h1>
                    </div>

                    <table class="table table-hover text-center mt-5">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (products.length > 0) { %>
                            <% products.forEach(p => { %>
                            <tr>
                                <td><%= p.productData.title %></td>
                                <td><%= p.qty %></td>
                                <td>
                                    <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" value="<%= p.productData.id %>" name="productId">
                                        <button class="btn btn-outline-secondary btn-sm" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) } %>
                            <tr>
                                <td colspan="2"> Total </td>
                                <td>$$$</td>
                            </tr>
                        </tbody>
                    </table>
                    <% if (products.length == 0) { %>
                    <h4 class="text-center mt-4">Your Cart is Empty!</h4>
                    <% } %>%>
                </div>
            </div>
        </main>
    </div>

    <%- include('../common/footer.ejs') %>
</body>

</html>